
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Manager Profiles</title>
    <link rel="stylesheet" href="{% static 'images/style.css' %}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css" integrity="sha384-zCbKRCUGaJDkqS1kPbPd7TveP5iyJE0EjAuZQTgFLD2ylzuqKfdKlfG/eSrtxUkn" crossorigin="anonymous">
</head>
<style>
    body{
        background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTmn5lUXqVimKG8kWdbUvrEov9AcWnrLTs6Nw&usqp=CAU');
        background-repeat: no-repeat;
        background-size: cover;
        /* margin-top: 20px; */
    }
    h4{
        margin-left:1200px;
        color: whitesmoke;
    }
    /* li{
        color: rgb(209, 17, 17);
    }
    img{
       width: 700px;
       height:500px ;
       margin-left: 300px;
    } */
    .main{
      padding: 15px;
      font-family: Arial, Helvetica, sans-serif;
    }
    .topbar{
      background-color: darkcyan;
      overflow: hidden;
    }
    .topbar a{
      float: right;
      color: whitesmoke;
      text-align: center;
      padding:20px 26px ;
      text-decoration: none;
      font-size: 26px;
    }
    .sidebar{
      background-color: darkgrey;
      color: rgb(214, 8, 8);
      height: 100%;
    }
    .sidebar a{
      margin-left: 10px;
      display: block;
      color:black;
      padding-bottom: 10px;
      font-size: 30px;
      text-decoration: none;
      
    }
    .card{
      position: relative;
      display: flex;
      flex-direction: column;
    }
    .content{
      background-color: lightpink;
    }
</style>
<body>
    <!-- <nav class="navbar navbar-light bg-secondary">
        <a class="navbar-brand"></a>
        <form class="form-inline">
          <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </form>
      </nav> -->
      <nav class="navbar navbar-expand-lg navbar-light bg-secondary">
        <a class="navbar-brand" href="/bankapp/templates/attendance.html">Attendance</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
              <a class="nav-link" href="/bankapp/templates/manager.html">Back <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/bankapp/templates/edit.html">Edit</a>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-expanded="false">
                Leaves
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" href="#">leave form</a>
                <a class="dropdown-item" href="#">leave dates</a>
               
                <a class="dropdown-item" href="#">bank leave calender</a>
              </div>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/bankapp/templates/notifications.html">Notifications</a>
            </li>
          </ul>
          <form class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
          </form>
        </div>
      </nav>
    <a href="/bankapp/templates/login.html" style="text-decoration: none;"> <h4> logout. </h4></a>
    
    <!-- <div class="container-fluid">
        <div class="container1" >
            <div class="row">
                <div class="col-xs-3 col-lg-3">
                <div id="div1" style="width: 200px;height: 600px;border-style:hidden ;  opacity: 0.8; padding-top: 40px;padding-left: 20px;">
                    <ul>
                        <br>
                        <br>
                        <br>
                        <a href="" style="text-decoration: none;"><li>Edit</li></a>
                        <br>
                        <a href="manager.html" style="text-decoration: none;"><li>Back</li></a>
                        <br>
                        <a href="notifications.html" style="text-decoration: none;"><li>Notifications</li></a>
                        <br>
                        <a href="targets.html" style="text-decoration: none;"><li>Attendance</li></a>
                        <br>
                        <a href="" style="text-decoration: none;"><li>Leaves</li></a>
                        
                    </ul>
                    </div>
                    
                        
                    </div>
                   
                    </div>
                    
                </div>  -->
                <!-- <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
                    <div class="carousel-inner">
                      <div class="carousel-item active">
                        <img src="https://www.adminproject.eu/wp-content/uploads/2013/10/Profile-and-Notifications21.png"  alt="...">
                      </div>
                      <div class="carousel-item">
                        <img src="https://support.appliedi.net/wp-content/uploads/2019/11/6e0dc585-dfd0-4058-ab51-57a7.jpg"  alt="...">
                      </div>
                      <div class="carousel-item">
                        <img src="https://docs.oracle.com/cd/E79009_01/webhelp/Content/obdx/originations/contactinfo.png"  alt="...">
                      </div>
                    </div>
                   <button class="carousel-control-prev" type="button" data-target="#carouselExampleControls" data-slide="prev">
                      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                      <span class="sr-only">Previous</span>
                    </button>
                    <button class="carousel-control-next" type="button" data-target="#carouselExampleControls" data-slide="next">
                      <span class="carousel-control-next-icon" aria-hidden="true"></span>
                      <span class="sr-only">Next</span>
                    </button>
                  </div> -->
                  <div class="container">
                    <div class="main">
                      <!-- <div class="topbar">
                        <a href="">log out</a>
                        <a href="">support</a>
                        <a href="">work</a>
                        <a href="">home</a>
                      </div> -->
                      <div class="row">
                        <div class="col-md-4 mt-1">
                          <div class="card text-center sidebar">
                            <div class="card-body">
                              <img src="/bankapp/static/images/emp2.jpg" class="rounded-circle " width="300">
                              <div class="mt-3">

                             
                                <h3> JOHN PAUL</h3>
                                <!-- <a href="">Home</a>
                                <a href="">Work</a>
                                <a href="">Support</a>
                                <a href="">Setting</a> -->
                                <a href="/bankapp/templates/staffhome.html">Signout</a>
                                
                              </div>
                            </div>
                          </div>
                        </div>
                        <div class="col-md-8 mt-1">
                          <div class="card mb-3 content">
                            <h1 class="m-3 pt-3">ABOUT</h1>
                            <div class="card-body">
                              <div class="row">
                                <div class="col-md-3">
                                  <h5> full name</h5>

                                </div>
                                <div class="col-md-9 text-secondary">
                                  JOHN PAUL
                                </div>
                              </div>
                              <hr>
                              <div class="row">
                                <div class="col-md-3">
                                  <h5>email</h5>
                                </div>
                                <div class="col-md-9 text-secondary">
                                  pauljohn@gmail.com
                                </div>
                              </div>
                              <hr>
                              <div class="row">
                                <div class="col-md-3">
                                  <h5>phone</h5>
                                </div>
                                <div class="col-md-9 text-secondary">
                                  9874552265
                              </div>
                            </div>
                            <hr>
                            <div class="row">
                              <div class="col-md-3">
                                <h5>address</h5>
                                </div>
                                <div class="col-md-9 text-secondary">
                                  abc house,
                                  12th street,
                                  Gandhi Nagar,Pala,Kottayam


                                </div>
                            </div>
                            <hr>
                            <div class="row">
                              <div class="col-md-3">
                                <h5>Date Of Birth</h5>
                                </div>
                                <div class="col-md-9 text-secondary">
                                  28/09/1975
                                </div>
                            </div>
                            <HR>
                              <div class="row">
                                <div class="col-md-3">
                                  <h5>Position</h5>
                                  </div>
                                  <div class="col-md-9 text-secondary">
                                     Asst. Manager
                                  </div>
                              </div>

                          </div>
                        </div>
                        
                      </div>
                    </div>
                  </div>
               
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-fQybjgWLrvvRgtW6bFlB7jaZrFsaBXjsOMm/tB9LTS58ONXgqbR9W8oWht/amnpF" crossorigin="anonymous"></script>               
</body>
</html>