{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Home</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@5.15.4/css/fontawesome.min.css" integrity="sha384-jLKHWM3JRmfMU0A5x5AkjWkw/EYfGUAGagvnfryNV3F9VqM98XiIH7VBGVoxVSc7" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta2/css/all.min.css" integrity="sha512-YWzhKL2whUzgiheMoBFwW8CKV4qpHQAEuvilg9FAn5VJUDwKZZxkJNuGM4XkWuk94WCrrwslk8yWNGmY1EduTA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css" integrity="sha384-zCbKRCUGaJDkqS1kPbPd7TveP5iyJE0EjAuZQTgFLD2ylzuqKfdKlfG/eSrtxUkn" crossorigin="anonymous">
    <link rel="stylesheet"href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css"/>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css" integrity="sha384-zCbKRCUGaJDkqS1kPbPd7TveP5iyJE0EjAuZQTgFLD2ylzuqKfdKlfG/eSrtxUkn" crossorigin="anonymous">

  <style>
    h1,h4{
      color: darkblue;
      font-family: Georgia, 'Times New Roman', Times, serif;
    }
    #div1{
      background-color:lightblue ;
    }
    #div2{
      background-color: lightblue ;
    }
    h3{
      color: darkblue;
      padding: 3px;
      font-family: Georgia, 'Times New Roman', Times, serif;
      font-weight: bold;
    }
    #para{
      font-size: medium;
      font-family: Verdana, Geneva, Tahoma, sans-serif;
    }
    span{
      color: darkblue;
      font-family: Georgia, 'Times New Roman', Times, serif;
      font-weight: bold;
      font-size: 50px;
    }

  </style>
</head>
<body>
  <div class="container-fluid">
    <div class="row">  
      <div class="col-lg-12" style="background-image: url('https://i.ibb.co/jGySmfL/new-home.jpg'); background-size: cover; background-repeat: no-repeat; height:500px; width: 100%; ">
        <div class="title" style="height: 50px; background: none;" >
         <a href=""> <img src="https://i.ibb.co/YfW5T7N/banklogo.jpg"style="height: 50px; margin: 20px;" ></a>
         <span class="navbar-brand  h1">XYZ BANKS</span>
         <a href="{% url 'login' %}"><button type="button" class="btn btn-outline-dark"style="color:white; float: right;margin-top: 20px; margin-right: 10px; padding-left: 30px; padding-right: 30px; border-radius: 15px; border: 1px solid black;">Log in</button></a>               
        </div>
        <center style="margin-top: 110px; color: white;">
          <h1>XYZ Banks welcomes you..</h1>
          <h4>Banking makes simple here.</h4>
          <h4>Get ready to explore..</h4>
          <br>
          <a href="{% url 'registration' %}"><button type="button" class="btn btn-success" style="border-radius: 15px; padding-left: 30px; padding-right: 30px;">Get started for free</button></a>  
        </center>
        <br>
        <br><br>
        <br>
        <br>
        <br>
      </div>
    </div>
    <br>
   
      <div class="container-fluid">
       <div class="row">
        <div id="div1" class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
          <h3 style="margin-top: 80px; ">XYZ BANK</h3>
          <P id="para">XYZ bank is a financial institution where customers can save or borrow money. XYZ Bank also invest money to build up their reserve of money. What they do is regulated by laws. Those laws differ in different countries.</P>

        </div>

        <div class="col-xs-7 col-sm-7 col-md-7 col-lg-7">
          <div id="carouselExampleCaptions" class="carousel slide" data-ride="carousel">
            <ol class="carousel-indicators">
              <li data-target="#carouselExampleCaptions" data-slide-to="0" class="active"></li>
              <li data-target="#carouselExampleCaptions" data-slide-to="1"></li>
              <li data-target="#carouselExampleCaptions" data-slide-to="2"></li>
            </ol>
            <div class="carousel-inner">
              <div class="carousel-item active">
                <img src="https://i.ibb.co/TvVKgPg/sc6.jpg" class="d-block w-100 "  alt="...">
                <!-- <div class="carousel-caption d-none d-md-block">
                  <h5>First slide label</h5>
                  <p>Some representative placeholder content for the first slide.</p>
                </div> -->
              </div>
              <div class="carousel-item">
                <img src="https://i.ibb.co/Wv9mCJB/scheme-2.png" class="d-block w-100" alt="...">
                <!-- <div class="carousel-caption d-none d-md-block">
                  <h5>Second slide label</h5>
                  <p>Some representative placeholder content for the second slide.</p>
                </div> -->
              </div>
              <!-- <div class="carousel-item"> -->
                <!-- <img src="https://i.ibb.co/r2LQQsy/scheme-4.png" class="d-block w-100 " style="height:90%;" alt="..."> -->
                <!-- <div class="carousel-caption d-none d-md-block">
                  <h5>Third slide label</h5>
                  <p>Some representative placeholder content for the third slide.</p>
                </div> -->
              <!-- </div> -->
            </div>
            <button class="carousel-control-prev" type="button" data-target="#carouselExampleCaptions" data-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="sr-only">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-target="#carouselExampleCaptions" data-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="sr-only">Next</span>
            </button>
          </div>
        </div>
        <div id="div2" class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
          <h3 style="margin-top:80PX ;">  <U> CONTACT US </U></h3>
          <br>
          <br>
          <p><i class="fas fa-home mr-3"></i> Calicut, KL 673603, IN</p>
                          <p><i class="fas fa-envelope mr-3"></i> info@xyzbank.com</p>
                          <p><i class="fas fa-phone mr-3"></i> + 91 892 345 67</p>
                          <p><i class="fas fa-print mr-3"></i> + 91 892 345 69</p>
          
        </div>
       </div>
      </div>
        
  
 


    <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-fQybjgWLrvvRgtW6bFlB7jaZrFsaBXjsOMm/tB9LTS58ONXgqbR9W8oWht/amnpF" crossorigin="anonymous"></script>            
</body>
</html>