<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <label>productname</label>
        <input type="text" name="productname">
        <br>
        <label>price</label>
        <input type="number" name="price">
        <br>
        <label>description</label>
        <input type="text" name="description">
        <br>
        <label>images</label>
        <input type="file" name="images">
        <br>
        <button>submit</button>
    </form>
</body>
</html>